
body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
    background-color: black;
    width: 100%;
}

.container {
    width: 80%;
    max-width: 1080px;
    min-width: 780px;
    margin: 10px auto;
}

#logo {
    margin: 10px 0;
}
header {
    text-align: center;
    padding-top: 10px;
    background-image: url("images/back.png");
    background-repeat: repeat;
    border: 2px solid;
    border-radius: 10px;
}

nav {
    padding: 10px 0;
    display: block;
}
nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    table-layout: fixed;
}
nav ul li {
    display: table-cell;
    width: auto;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 10px;
}
nav ul li a:link, nav ul li a:visited {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li a:active {
    background-color: #942779;
    border: 0px solid transparent;
    border-radius: 10px;
}

.content {
    background: white;
    margin: 10px 0;
    padding: 0 10px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
}
.content ul {
    overflow: auto;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    text-transform: uppercase;
}

.fltrt {
    float: right;
}
.fltlf {
    float: left;
}
.clrflt {
    clear: both;
}
.center-image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    color: #999;
    padding: 10px 0;
    background-image: url("images/back.png");
    background-repeat: repeat;
    border: 2px solid black;
    border-radius: 10px;
}


/** ~~ home ~~ **/
#table_fix {
    float: left;
    width: 340px;
    height: 420px;
}
.eg {
    float: left;
    margin: 10px 20px 10px 10px;
}

#events {
    border-collapse: collapse;
    margin: 0 auto;
    overflow: auto;
}

#events td, #events th {
    border: 1px solid #942779;
    padding: 7px;
}

#events th {
    background-color: #942779;
    color: white;
}

#events tr td {
    background-color: #fff3ff;
}

#events tr.alt td {
    background-color: #ffdaff;
}

/** ~~ about ~~ **/
#erin {
    float: right;
    padding: 10px;
}

/** ~~ facepaint ~~ **/
#left {
    float: left;
    max-width: 50%;
}
#right {
    float: right;
    max-width: 50%;
}
ul.gallery {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
ul.gallery li {
    display: inline;
    list-style: none;
}
ul.gallery img {
    width: 40%;
    padding: 15px 15px 10px 0;
}
#load_more {
    margin: 5px auto;
    display: block;
    padding: 10px;
    font-size: 200%;
}

/* ~~ practice ~~ */
ul.grid {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
ul.grid li {
    display: inline;
    list-style: none;
}
ul.grid img {
    width: 95%;
    padding: 15px 15px 10px 0;
}
